body{
	background-color: 	#e82231;
	font:16px Arial;
	padding: 0;	
	margin: 0;	
}
header{

	background-color: 	#fff;
	height: 100px;	
	padding: 10px;	
	margin: 0px;	
}
header figure.logo{
	background: #fff url(../imgs/sprite-web.png) no-repeat;
	background-position: -272px -34px;
	height: 90px;
	margin: 0;
	width: 244px;
}
nav{
	position: relative;
	left: 360px;
	top:-70px;
	width: 880px;
	
}
nav li{
	background-color: #e82231;
	color: #fff;
	display: inline-block;
	vertical-align: top;
	margin-left: 12px;
	padding: 20px 40px;
	text-align: 	center;
	width: 120px;		
}
nav li{
	cursor: pointed;
}